@tailwind base;
@tailwind components;
@tailwind utilities;

/* Masquer la barre de défilement pour Webkit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Masquer la barre de défilement pour Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et Edge */
}
